@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    
}

button {
    display: flex;   
    margin: 3rem auto;
    font-family: 'Montserrat';
    font-size: 1.25rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: none;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: 0.1s all ease-in-out;
}

button:hover {
    background-color: rgba(12, 12, 12, 0.75);
    color: white
}