@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

.App {
  background-color: rgba(12, 12, 12, 0.75);
  min-height: 100vh;
}


h1 {
  color: white;
  text-align: center;
  font-family: 'Montserrat';
}

.Board {
  display: flex;
 
  justify-content: center;
  align-items: center;
  
}

